{% if show.number_of_seasons > 0 %}
    <div x-data="{season: '1'}" class="tabs tabs-border">
        {% for season in show.seasons %}
            <input @click="season = '{{ season.season_number }}'"
                   type="radio"
                   name="my_tabs_2"
                   class="tab"
                   aria-label="{{ season.name }}"
                   :checked="season === '{{ season.season_number }}' ? 'checked' : ''" />
            <div class="tab-content gap-4">
                <c-ui.shows.season />
            </div>
        {% endfor %}
    </div>
{% endif %}
